body {
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1528892677828-8862216f3665?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;

}

.cover-container{
    max-width: 60vw;
}


.nav-link {
    padding: 0.25rem 0;
    /* font-weight: 700; */
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
    margin-left: 1rem;
}


.nav-link:hover{
    color: rgba(255, 255, 255, 0.5);;
    border-bottom-color:rgba(255, 255, 255, 0.5);
}

.btn {
    color: #333;
    
}